.toggleWrap{
    position: relative;
    width: 52px;
    height: 28px;
    border-radius: 24px;
    padding: 2px;
    background: var(--f_gray-50);
    display: flex;
    justify-content: left;    
    cursor: pointer;

    .toggler{   
        width: 50%;
        background: var(--background);
        border-radius: 50%;
    }
}

.toggleSelected{
    justify-content: right;   
    .toggler{
        background: var(--f_accent);
    }
}